body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 5rem;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.carrinho {
    position: relative;
    cursor: pointer;
}

.carrinho img {
    width: 30px;
    height: 30px;
}

#carrinho-contagem {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.produtos {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.produto-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.produto-card img {
    height: auto;
    max-height: 120px;
    object-fit: contain;
}

.produto-card h2 {
    margin: 0.5rem 0;
}

.produto-card p {
    margin: 0.5rem 0;
}

.produto-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.produto-card button:hover {
    background-color: #0056b3;
}

.produto-card--promocao {
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px rgba(250, 193, 193, 0.5);
}

.produto-card--promocao p{
    color: #ff0000;
    font-weight: bold;
    font-size: 1.2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}