.carrinho-items {
    padding: 2rem;
}

.carrinho-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

.carrinho-item img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.carrinho-item-detalhes {
    flex: 1;
}

.carrinho-item-detalhes h3 {
    margin: 0;
}

.carrinho-item-detalhes p {
    margin: 0.5rem 0;
}

.carrinho-item button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrinho-item button:hover {
    background-color: #cc0000;
}

.carrinho-total {
    text-align: right;
    margin-top: 2rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.pagamento-form {
    padding: 2rem;
    max-width: 500px;
    margin: 2rem auto;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.pagamento-form__group {
    margin-bottom: 1rem;
}

.pagamento-form__group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.pagamento-form__group input,
.pagamento-form__group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-pagar {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 1.5rem;
}