body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

.principal{
    margin-left: 5%;
    margin-right:5%;
    margin-bottom:2%;
    margin-top: 5%;
}

.titulo-principal {
    /* padding-top: 5%; */
}

.navegacao {
    margin-right: 5%;
}

.navegacao a{
    padding: 18px;
}

header {
    background: lightblue;
    top: 0;
    width: 100%;
}

header p {
    margin-left: 5%;
}

footer {
    background: lightsalmon;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    /* align-items: start; */
    justify-content: space-between;
    /* height: 100%; */
}

.category {
    background: lightgreen;
    height: 100%;
}