body {
    margin: 0;
    padding: 0;
}

.principal{
    margin-left: 5%;
    margin-right:5%;
    margin-bottom:2%;
    margin-top: 2%;
}

.navegation {
    margin-right: 5%;
}

.navegation a{
    padding: 18px;
}

header {
    background: lightblue;
    top: 0;
    width: 100%;
}

header p {
    margin-left: 5%;
}

footer {
    background: lightsalmon;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin-top: 0;
}

.items-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-header p{
    font-size: 20px;
}


.container-body{
    display: flex;
    justify-content: space-between;
}

.category {
    background: lightgreen;
    height: 100%;
    width: 25vw;
}

.category h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 18px;
}

.category ul {
    list-style: none;
}

.category li {
    padding: 5px;
}

.category li::before {
    list-style-type: none;
    content: "- ";
}

.nav-bottom nav{
    text-align: center;
    margin-top: 5%;
}

.nav-bottom nav a{
    padding: 5%;
}

.principal section {
    padding: 5px;
}
